{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h5 class="my-3 border-bottom pb-2">회원가입</h5>
  <form method="post" novalidate>
      {{ form.csrf_token }}
      {% include 'form_errors.html' %}

      {{ form.username.label }}
      {{ form.username(class='form-control') }}

      {{ form.password1.label }}
      {{ form.password1(class='form-control') }}

      {{ form.password2.label }}
      {{ form.password2(class='form-control') }}

      {{ form.email.label }}
      {{ form.email(class='form-control') }}

      <button type="submit" class="btn btn-primary">저장하기</button>
  </form>
</div>
{% endblock %}